body{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
<<<<<<< HEAD
    color: rgb(149, 7, 221);
=======
    color: rgb(24, 5, 230);
>>>>>>> cabecera
    font-size: 16px;
    margin: 0;
    padding: 0.5em;
}
#container{
    width: 600px;
    padding: 0;
    text-align: center;
    border: 2.5px solid rgb(201, 201, 201);
    margin: 0 auto;    
}

#container h1{
    font-size: 20px
}
#cabecera{
    background: rgb(246, 7, 178);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-weight: bold;
    box-shadow: 3px 7px 0px 2px rgba(0,0,0,0.5);
    height: 40px;
    width: 600px;
    text-align: center;
    display: flex;
    align-content: center;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 14px;
}